
@{
    Layout = "~/Areas/SinhVien/Views/Shared/LayoutSinhVien.cshtml";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeSinhVien</title>
</head>
<body>
    <div>
        Đây là trang chủ của sinh viên @ViewData["TenDangNhap"]
    </div>
</body>
</html>
