
@{
    Layout = "~/Areas/PDT/Views/Shared/LayoutPDT.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePDT</title>
</head>
<body>
    <div>
        Đây là trang chủ của phòng đào tạo
    </div>
</body>
</html>
