@model FinalProject.Models.CT_NGANH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PDT/Views/Shared/LayoutPDT.cshtml";
}
<h3>Bạn có muốn xóa môn học khỏi chương trình này không?</h3>

<div>
    <table class="table table-bordered" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <th>
                    Tên môn học
                </th>
                <td>
                    @Html.DisplayFor(model => model.MONHOC.TenMonHoc)
                </td>
            </tr>

            <tr>
                <th>
                    Học kỳ
                </th>
                <td>
                    @Html.DisplayFor(model => model.HocKy)
                </td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <br />
        <br />
        @*@Html.ActionLink("Quay lại", "Index")*@
        @Html.ActionLink("Quay lại", null, null, null, new { href = Request.UrlReferrer })

    </div>
    }
</div>