
@{
    ViewBag.Title = "ListHK";
    Layout = "~/Areas/PDT/Views/Shared/LayoutPDT.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Danh sách học kỳ</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Năm học
                                </th>
                                <th>
                                    Học kỳ
                                </th>
                                <th>
                                    Chi tiết
                                </th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>
                                    Năm học
                                </th>
                                <th>
                                    Học kỳ
                                </th>
                                <th>
                                    Chi tiết
                                </th>
                            </tr>
                        </tfoot>

                        @foreach (var item in ViewBag.ListHK)
                        {
                            <tr>
                                <td>
                                    @item.Nam1-@item.Nam2
                                </td>
                                <td>
                                    @item.HocKy
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary" href="@Url.Action("Index", "DS_MONHOC_MO", new { id = item.MaHKNH })">Chi tiết</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

