
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div>
        Tên đăng nhập hoặc mật khẩu sai! Quay lại trang trước nhập lại
    </div>
    @Html.ActionLink("Quay lại", "Login", "Login");
</body>
</html>
